<?xml version="1.0" encoding="UTF-8" ?>

<config xmlns="http://thelia.net/schema/dic/config"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/config http://thelia.net/schema/dic/config/thelia-1.0.xsd">

    <loops>
        <loop name="used.amount.card.gift" class="TheliaGiftCard\Loop\GiftCArdOrderUseLoop" />
        <loop name="list.card.gift" class="TheliaGiftCard\Loop\GiftCArdList" />
        <loop name="sponsor.list.card.gift" class="TheliaGiftCard\Loop\GiftCArdListSponsor" />
        <loop name="sponsor.list.card.gift" class="TheliaGiftCard\Loop\GiftCArdCartUseLoop" />
    </loops>

    <forms>
        <form name="spend.amount.card.gift" class="TheliaGiftCard\Form\AddAmountCGForm" />
        <form name="delete.amount.card.gift" class="TheliaGiftCard\Form\DelAmountCGForm" />
        <form name="add.code.card.gift" class="TheliaGiftCard\Form\AddCardGiftCustomerForm" />
        <form name="add.code.card.gift" class="TheliaGiftCard\Form\AddCardGiftCustomerForm" />
        <form name="spend.cart.card.gift" class="TheliaGiftCard\Form\SendCodeCGForm" />
    </forms>

    <commands>
        <!--
        <command class="TheliaGiftCard\Command\MySuperCommand" />
        -->
    </commands>

    <services>
        <service id="giftcard.service" class="TheliaGiftCard\Service\GiftCardAmountSpendService">
        </service>
        <service id="giftcard.service" class="TheliaGiftCard\Service\GiftCardService">
        </service>
        <service id="giftcard.order.listener" class="TheliaGiftCard\EventListener\OrderPayListener">
            <tag name="kernel.event_subscriber"/>
            <argument type="service" id="service_container" />
            <argument type="service" id="request" />
        </service>
        <service id="giftcard.amount.spend.service" class="TheliaGiftCard\Service\GiftCardAmountSpendService">
            <argument type="service" id="thelia.taxEngine"/>
            <argument type="service" id="giftcard.service"/>
        </service>
    </services>

    <hooks>
        <hook id="theliagiftcard.hook" class="TheliaGiftCard\Hook\HookManager">
            <tag name="hook.event_listener" event="order-edit.after-order-product-list" type="back" method="cardGiftAccountUsageInOrder" />
        </hook>
        <hook id="theliagiftcard.front.account.hook" class="TheliaGiftCard\Hook\HookFrontManager">
            <tag name="hook.event_listener" event="account.bottom" type="front" method="onAccountBottom" />
            <tag name="hook.event_listener" event="order-invoice.giftcard-form" type="front" method="onOrderInvoiceBottom" />
            <tag name="hook.event_listener" event="order-invoice.cart-giftcard-form" type="front" method="onCartInvoiceBottom" />
        </hook>
    </hooks>
</config>