<table class="table table-cart table-bordered table-cart-total">
    {ifloop rel="customer.card.gift"}
    <tr><th>{intl l="Gift Card" d='theliagiftcard'}</th></tr>
    <tr>
        <td>
            {form name="spend.amount.card.gift"}
            <form id="form-card_gift" action="{url path="/card-gift/spend"}" method="post" {form_enctype}>
            {form_hidden_fields}

            {if $form_error}<div class="alert alert-danger">{$form_error_message}</div>{/if}

            {form_field field='gift_card_code'}
            <label class="control-label" for="{$label_attr.for}">{intl l=$label}</label>
            <select class="form-control" name="{$name}">
                <option value="" disabled selected>{intl l="Select your Gift Card"}</option>
                {loop type="list.card.gift" name="customer.card.gift" customer_id=current}
                <option value="{$CODE}">{$CODE} : {format_money number=$USED_AMOUNT currency_id=$CURRENCY} / {format_money number=$INIT_AMOUNT currency_id=$CURRENCY}</option>
                {/loop}
            </select>
            {/form_field}

            {form_field field='amount_used'}
            <label class="control-label sr-only" for="spend_amount_card_gift">{intl l='Amount to spend :'}</label>
            <input id="spend_amount_card_gift" class="form-control" type="text" name="{$name}" value="{$value}" placeholder="{intl l='Use Card gift amount'}" required>

            {/form_field}
            <span class="input-group-btn">
                                    <button type="submit" class="btn btn-default">{intl l="Ok"}</button>
                                </span>
            </form>
            {/form}
        </td>
    </tr>
    {/ifloop}
</table>